*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
main{
    width: 600px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
    margin:0 auto;
    padding: 10px;
}
.main_header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}
.left_side,.Right_side{
    font-size: 1.3rem;
    font-weight: bold;
}
.Profile_section {
    display: flex;
    margin-bottom: 45px;
}
.Profile_section .profile{
    width: 125px;
    height: 125px;
    position: relative;
    width: 30%;
}
.Profile_section .profile img{
    width: 75%;
    border-radius: 50%;
    border: 2px solid rgb(170, 170, 170);
}
.Profile_section .profile .icon{
    font-size: 2rem;
    color: rgb(32, 133, 234);
    position: absolute;
    left: 6.3rem;
    bottom: 0px;
}
.Profile_information{
    width: 70%;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}
.range{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
.type{
    font-size: 1.4rem
}
.description{
    display: block;
    margin-bottom: 20px;
}
.description .Username{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.description .Des a{
    text-decoration: none;
    color: rgb(32, 133, 234);
}
.btn_edite{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn_edite button{
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    font-size:1.3rem ;
    font-weight: bold;
    background-color: white;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.8);
    border: 1px solid rgba(73, 73, 73, 0.477);
    transition-duration: 0.5s;
}
.btn_edite button:hover{
    color:rgb(107, 160, 213);
    box-shadow: none;
    cursor: pointer;
}
.highlight{
    display: flex;
    margin-left: 15px;
    height: 110px;
}
.highlight .img_highlight{
    width: 65px;
    height:65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #666;
    font-weight: bold;
    border:3px solid#888888cb;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}
.highlight .img_highlight img{
    width: 100%;
    border-radius: 50%;
    padding: 2px;
    transition-duration: 0.4s;
}
.highlight .img_highlight img:hover{
   scale: 1.3;
}
.align{
    position: relative;
    margin-right: 20px;
}
.text_highlight{
    position: absolute;
    left: 25px;
    top: 70px;
    font-size: 1.2rem; 
    font-weight: bold;
    color: #666;
}
hr{
    width: 90%;
    margin: 0 auto;
}
.posts{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}
.posts img{
    width: 33%;
    margin-bottom: 3px;
    transition-duration: 0.5s;
}
.posts img:hover{
     box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
     scale: 1.01;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 600px;
    padding: 5px;
    font-size:1.5rem ;
}
nav img{
    width:35px;
    border-radius: 50%;
    border: 2px solid #050505;
}